node_modules/
dist/
.expo/
.expo-shared/
*.log
.env
.env.local
.DS_Store
coverage/
android/
ios/
web-build/
npm-debug.log*
.vscode/
.idea/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.metro-health-check*
